@{
    ViewData["Title"] = "Hristomir and Endava";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Endava!</h1>
    <h3>Hristomir's sample DevOps .NET core project on Windows App service.</h3>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <p>This is version 1.3.0</p>
</div>
