@{
    ViewData["Title"] = "Hristomir and Endava";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Endava!</h1>
    <h2>Hristomir's sample DevOps .NET core project on Windows App service.</h2>
       
    <p>This is version 1.3.0</p>
</div>
